.reformat-button {
  background-color: rgb(29, 161, 242) !important;
  border: none !important;
  border-radius: 9999px !important;
  box-shadow: none !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-size: 15px !important;
  font-weight: bold !important;
  margin-left: 10px !important;
  min-height: 34px !important;
  min-width: 75px !important;
  padding: 0 1em !important;
  position: relative !important;
  text-align: center !important;
}

.reformat-button:hover {
  background-color: #005582;
}